{% extends 'navbar.html' %}

{% load static %}

		{% block head %}

<title>Product details</title>

		{% endblock%}
			

		{% block body %}

		
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ product.image.url }}" alt="" style="width: 400px;" >
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ product.image.url }}" alt="" style="width: 400px;" >
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ product.image.url }}" alt="" style="width: 400px;" >
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.title|capfirst}}</h3>
						<h2>{{product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> {{product.category}}</a></li>
							<li><a href="#"><span>Availibility</span> {% if product.stock > 0 %}in Stock{% else %}out of stock{% endif %}</a></li>
						</ul>
						<br>
						<p>{{product.description}}</p>
							<!-- <div class="product_count">
								<label for="qty">Quantity:</label>
								<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if (!isNaN(sst)) result.value++; return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if (!isNaN(sst) && sst > 0) result.value--; return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> 
							</div> -->
							
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="{% url 'add-cart' product.id %}">Add to Cart</a>
							<!-- <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a> -->
							<a class="icon_btn" href="{% url 'add-wishlist-item' product.id %}"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--================End Single Product Area =================-->



	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Related Products</h1>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for product in related_product %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="{% url 'single' product.id %}"><img src="{{product.image.url}}" alt="" style="width: 100px; height:100px;"></a>
								<div class="desc">
									<a href="{% url 'single' product.id %}" class="title">{{product.title}}</a>
									<div class="price">
										<h6>{{product.price}}</h6>
										<h6 class="l-through"></h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	<!-- End related-product Area -->

	{% block foot %}

	{% endblock %}